<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Express js</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
        <link href= "../assets/Style.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="./accueil.html">Accueil</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="./services.html">Our services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Our contact</a></li>
           </ul>
        </nav>
    </header>
    <br/>
    <main>
       <div class="jumbotron">
        <h1>Our services </h1>
        <p>
            Following a full refurbishment, The Narrow has now reopened as snacks Street Kitchen on the River, an all-day dining restaurant in a stunning Grade II-listed riverside restaurant.

        </br>
        Black Stone Kitchen on the River showcases the very best of snacks’s world famous dishes; from his iconic Beef Wellington experience to his signature Fish & Chips. With</br>
        the globally inspired menu and seasonal Bread Street classics, there is something for everyone.</br>
        Renowned for its electric atmosphere, the restaurant bar is a destination in its own right. Whether you are after an after-work tipple or a family Sunday, take a seat and enjoy a</br>
        wide range of cocktails, world-class wine, and delicious bar snacks.</br>
        </p>
       </div>
    </main>

    <footer>
        <p class="text-center text-muted">BLACK STONE. © Copyright</p>
    </footer>

    </body>
</html>